:root {
  --primary-background: #1b1e27;
  --secondary-background: #2c2b36;
  --primary-foreground: #fafafa;
  --secondary-foreground: #eaeaeaee;
  --color-1: #76abaeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Roboto, sans-serif;
  background-color: var(--primary-background);
  color: var(--secondary-foreground);
  font-size: 16px;
  font-weight: 400;
}

h1,
h2 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 22px 0;
}

.important-text {
  color: var(--primary-foreground);
  font-weight: 500;
}

.up-button {
  display: block;
  font-size: 2em;
  position: fixed;
  width: 38px;
  height: 38px;
  border: 3px solid var(--primary-foreground);
  border-radius: 50%;
  right: 16px;
  bottom: 16px;
  color: var(--primary-foreground);
  transition: color 0.2s, background-color 0.2s;
}

.up-button:hover {
  color: var(--primary-background);
  background-color: var(--primary-foreground);
}

/* -- HEADER SECTION -- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.header__theme input {
  display: none;
}

.header__theme-light,
.header__theme-dark {
  cursor: pointer;
  font-size: 1.3em;
}

.header__theme input:checked ~ .header__theme-light {
  display: block;
}

.header__theme input:checked ~ .header__theme-dark {
  display: none;
}

.header__theme-light {
  display: none;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__wrapper input,
.nav__wrapper label {
  display: none !important;
}

.nav__wrapper input:checked ~ .header__nav {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  display: inline-block;
  padding: 20px 24px;
  text-decoration: none;
  color: var(--secondary-foreground);
  font-size: 0.98em;
  font-weight: 500;
  transition: color 0.2s, background-color 0.2s;
}

.nav__link:hover {
  color: inherit;
  background-color: var(--secondary-background);
}

/* -- NAV QUERIES -- */

@media screen and (max-width: 800px) {
  .header__nav {
    position: absolute;
    top: 58px;
    display: none;
    width: 100%;
    background-color: var(--primary-background);
  }

  .nav__wrapper {
    flex-direction: column;
  }

  .nav__wrapper label {
    display: block !important;
    text-align: center;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav__item {
    width: 100%;
  }

  .nav__link {
    width: 100%;
    text-align: center;
  }
}

/* -- MAIN SECTION -- */

.home {
  padding: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.home img {
  width: 32%;
  min-width: 300px;
  border-radius: 50%;
  outline-width: 4px;
  outline-offset: 8px;
  outline-color: var(--secondary-foreground);
  outline-style: solid;
}

.home__hi {
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
}

.home__profession {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 4.5em;
  text-wrap: balance;
  overflow: hidden;
}

/* -- HOME QUERIES -- */

@media screen and (max-width: 900px) {
  .home {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .home__wrapper {
    text-align: center;
  }
}

/* -- SECTION STYLE --*/

.section {
  max-width: 880px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 16px;
}

.section__title {
  font-size: 5em;
  font-weight: 300;
  margin-bottom: 28px;
  color: var(--primary-foreground);
}

.section__wrapper {
  display: flex;
  justify-content: center;
}

.section__left {
  direction: rtl;
  flex: 1;
  padding: 40px 32px;
}

.section__right {
  flex: 3;
  padding: 40px 32px;
  border-left: 1.5px solid var(--secondary-foreground);
}

.section__icon {
  margin: 50px 0;
}

.section__icon p {
  font-weight: 300;
}

.section__icon p span {
  font-weight: 600;
}

.icon {
  font-size: 2.5em;
}

.section__icon img {
  height: 2.5em;
}

.icon__text {
  margin: 5px 0;
  font-weight: 600;
}

/* -- SECTION QUERIES -- */

@media screen and (max-width: 640px) {
  .section {
    gap: 2px;
  }

  .section__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }

  .section__title,
  .skills__other-title,
  .section__icon {
    text-align: center;
  }

  .section__title {
    font-size: 3.5em;
    margin-bottom: 0;
  }

  .section__divider {
    display: none;
  }

  .section__left {
    padding: 0;
  }

  .section__right {
    border: none;
  }
}

/* -- ABOUT SECTION -- */

.about__nav-container {
  display: flex;
  flex-wrap: wrap;
}

.about__profile-text,
.about__story-text {
  display: none;
}

.about__radio {
  display: none;
}

.about__nav-item {
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.about__nav-item:hover {
  background-color: var(--secondary-background);
}

.about__radio:checked + .about__nav-item {
  color: var(--primary-foreground);
  border-bottom: 1px solid var(--primary-foreground);
}

.about__radio:nth-of-type(1):checked ~ .about__profile-text {
  display: block;
}

.about__radio:nth-of-type(2):checked ~ .about__story-text {
  display: block;
}

/* -- SKILLS SECTION -- */

.skills__nav-container {
  display: flex;
  flex-wrap: wrap;
}

.skills__web {
  display: none;
  width: 100%;
  margin: 10px 0;
}

.skills__radio {
  display: none;
}

.skills__nav-item {
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
}

.skills__nav-item:hover {
  background-color: var(--secondary-background);
}

.skills__radio:checked + .skills__nav-item {
  color: var(--primary-foreground);
  border-bottom: 1px solid var(--primary-foreground);
}

.skills__radio:nth-of-type(1):checked ~ .skills__web {
  display: block;
}

.skills__web-basic {
  display: flex;
  justify-content: space-around;
  padding: 25px 0 18px;
  margin: 30px 0;
  position: relative;
  border: 2px solid #e34f26;
  border-radius: 20px;
}

.skills__other-icons {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.skill__wrapper {
  text-align: center;
  margin: 16px;
}

.skill__wrapper img {
  height: 72px;
}

.skill__wrapper p {
  margin: 10px 0 0;
  font-weight: 600;
}

.skills__other-title {
  font-weight: 500;
}

/* -- SKILLS QUERIES --*/

@media screen and (max-width: 640px) {
  .skills__web-basic {
    flex-direction: column;
  }
}

/* -- PROJECTS SECTION -- */

.section__projects {
  display: flex;
  flex-direction: column;
  margin: 36px 0;
}

.section__projects a {
  text-decoration: none;
  color: var(--primary-foreground);
}

.projects .section__right p {
  margin: 0;
}

.project__card {
  padding: 8px;
  display: flex;
  gap: 16px;
  border-radius: 16px;
  transition: 0.2s outline-color;
  outline-color: var(--primary-background);
}

.project__card:hover {
  outline-width: 3px;
  outline-color: var(--secondary-foreground);
  outline-style: solid;
}

.project__card img {
  height: 240px;
  border-radius: 10px;
}

.project__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__card-wrapper h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 8px;
}

.project__card-wrapper p {
  margin: 0;
  margin-top: 5px;
}

.project__card-skills {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
}

.project__card-skills img {
  height: 42px;
  border-radius: 0;
}

/* -- PROJECT QUERIES -- */

@media screen and (max-width: 640px) {
  .section__projects {
    margin: 0;
  }

  .project__card {
    margin: auto;
    max-width: 426px;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .project__card img {
    max-width: 100%;
    height: auto;
  }

  .project__card-info {
    display: flex;
    gap: 6px;
  }

  .project__card-skills {
    padding: 6px;
  }

  .project__card-skills img {
    height: 32px;
  }
}

/* -- CONTACT SECTION -- */

.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form label {
  font-weight: 600;
  margin-top: 12px;
}

.contact__form input,
.contact__form textarea {
  width: 70%;
  min-width: 300px;
  background-color: transparent;
  color: var(--secondary-foreground);
  padding: 16px;
  font-size: 1em;
  outline: none;
  border: 1px solid var(--secondary-foreground);
  border-radius: 8px;
  margin: 12px 0;
  font-family: inherit;
  transition: 0.2s background-color;
}

.contact__form textarea {
  resize: none;
}

.contact__form input[type="submit"] {
  background-color: var(--color-1);
  color: var(--primary-foreground);
  width: 40%;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--color-1);
}

.contact__form input[type="submit"]:hover {
  background-color: transparent;
  color: var(--color-1);
}

.section__icon a {
  text-decoration: none;
  color: inherit;
}

/* -- CONTACT QUERIES -- */

@media screen and (max-width: 640px) {
  .contact__form {
    align-items: center;
  }

  .contact__form input,
  .contact__form textarea {
    width: 100%;
  }
}

/* -- FOOTER SECTION -- */

.footer {
  padding: 80px 0;
  background-color: #090a06;
  color: #fafafa;
  display: flex;
  justify-content: space-evenly;
}

/* -- THANKS SECTION -- */

.thanks__container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.thanks__container .icon {
  font-size: 9em;
  color: var(--color-1);
  margin-bottom: 8px;
}

.thanks__title {
  font-size: 3em;
  text-align: center;
}

.thanks__text {
  font-size: 1em;
  margin: 6px 0;
}

.thanks__go-back {
  margin: 16px;
  display: inline-block;
  text-decoration: none;
  padding: 16px 26px;
  background-color: var(--color-1);
  color: var(--primary-foreground);
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--color-1);
  border-radius: 8px;
  transition: 0.2s background-color, 02 color;
}

.thanks__go-back:hover {
  background-color: transparent;
  color: var(--color-1);
}
